<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myConStr"
			 connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=RestaurantDB; Integrated Security=True; TrustServerCertificate=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="MenuDiscount" value="0.10"/>
		<add key="OrderDiscountThreshold" value="150"/>
		<add key="FrequencyOrderCount" value="5"/>
		<add key="FrequencyDays" value="30"/>
		<add key="FrequencyDiscount" value="15"/>
		<add key="FreeDeliveryThreshold" value="100"/>
		<add key="DeliveryCost" value="15"/>
		<add key="LowStockThreshold" value="500"/>
		<add key ="DefaultProductImage" value="/RestaurantOrderingApp;component/Assets/Images/default_product.png"/>
	</appSettings>
</configuration>